@font-face {
    font-family: 'Zaptron';
    src: url(/src/components/Menu/Font/Zaptron-Regular.otf);
}
.navbar-brand{
    font-family: Zaptron;
    font-weight: bolder;
    color: #008C75;
}

.navbar {
    padding: 3rem;
}

.nav-link {
    color: #008C75;
}